body{
    background-color: lightyellow;
}

#main-div{
    background-image: url('../assets/bg-menu.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#menu{
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    border: 8px solid #fee623;
    border-radius: 32px;
    box-sizing: border-box;
    background-color: #45064b;
    width: 600px;
    height: 400px;
    padding: 24px;
    color: #f2e694;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#menu, h1{
    font-weight: 900;
}

#menu h1, #menu h3{
    margin-bottom: 32px;
}

#menu a, a:hover, a:visited, a:active{
    color: inherit;
    text-decoration: none;
}

#menu .arrows, #menu .menu-selected{
    color: #e6ce33 !important;
}

