#main-div{
    background-image: url('../assets/sandplanet.png');
}

#status{
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 300px;
    padding: 24px;
    font-weight: 900;
    font-size: 48px;
}

#phases, .phase{
    display: inline-block;
    max-height: 56px;
}

.phase{
    width: 64px;
    color: #e6ce33;
    margin: 96px 8px 0;
    border-bottom: 4px #f2e694 solid;
    box-sizing: border-box;
}

#bucket-amount{
    margin: 0 auto;
    background-image: url('../assets/buklak.png');
    height: 100px;
    width: 160px;
    padding-top: 40px;
    padding-left: 96px;
    font-size: 24px;
    color: white;
}

#bucket-amount span{
    background-color: #2f2700;
}