#main-div{
    background-image: url('../assets/pustynia_ph_1.png');
}

@-webkit-keyframes fade {
    0% {background-image: url('../assets/pustynia_ph_1.png')}
    50% {background-image: url('../assets/pustynia_ph_2.png')}
}

@keyframes fade {
    0% {background-image: url('../assets/pustynia_ph_1.png')}
    50% {background-image: url('../assets/pustynia_ph_2.png')}
}

#status, #pause, #gameover, #success{
    left: 50%;
    bottom: -10%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 32vh;
    padding: 24px;
    font-weight: 900;
    font-size: 48px;
}

#status span{
    vertical-align: 56px;
}

#phases, .phase{
    display: inline-block;
    min-height: 120px;
}

.phase{
    width: 80px;
    margin-top: 64px;
}

.top, .bottom{
    display: inline-block;
    width: 64px;
    height: 64px;
    color: #e6ce33;
    margin-left: 8px;
    margin-right: 8px;
    float: left;
}

.top{
    border-bottom: 4px #f2e694 solid;
    box-sizing: border-box;
}

.bottom{
    height: 56px;
    color: white;
    font-size: 32px;
}

#basket-amount{
    margin: 0 auto;
    background-image: url('../assets/buklak.png');
    height: 100px;
    width: 160px;
    padding-top: 40px;
    padding-left: 96px;
    font-size: 24px;
    color: white;
}

#basket-amount span{
    background-color: #2f2700;
}

#pause{
    width: 480px;
    height: 320px;
}

.warning-sign{
    color: lightcoral;
    font-size: 14px;
}

#gameover{
    height: 200px;
    width: 420px;
    bottom: 50%;
}

#success{
    height: 400px;
    width: 600px;
}

#pause, #success{
    top: 50%;
}

@media only screen and (max-width: 1600px) {
    #status, #pause, #gameover, #success{
        font-size: 32px;
    }

    .phase{
        width: 56px;
    }

    .top, .bottom{
        width: 48px;
        height: 64px;
    }
}

@media only screen and (max-width: 768px) {
    #status, #pause, #gameover, #success{
        font-size: 24px;
    }

    .phase{
        width: 48px;
    }

    .top, .bottom{
        width: 48px;
        height: 64px;
    }
}