#main-div{
    background-image: url('../assets/oaza_1.png');
}

@-webkit-keyframes fade {
    0% {background-image: url('../assets/oaza_1.png')}
    50% {background-image: url('../assets/oaza_2.png')}
}

@keyframes fade {
    0% {background-image: url('../assets/oaza_1.png')}
    50% {background-image: url('../assets/oaza_2.png')}
}

.menu{
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    padding: 24px;
}

#ranking{
    width: 900px;
    height: 600px;
}

#about{
    background: url('../assets/about.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 9999;
}